.button {
  width: 100%;
  height: fit-content;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #ADff2F;
  color:#000000
}

.arrowCircleUpOutlinedIcon {
  width: 24px;
  height: 24px;
}

.blockIcon {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}
