.courseInfo {
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: auto;
  width: 100%;
  margin-left: 15px;
  padding-top: 10px;
  padding-right: 10px;
}

.courseImg {
  border-radius: 20px 20px 0px 0px;
  width: 400px;
  height: 180px;
}

.courseVideo {
  display: flex;
  width: 100%;
  height: 220px;
  border-left: 8px solid orangered;
}

.time {
  display: flex;
  gap: 10px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  word-wrap: break-word;
  padding-right: 15px;
  margin-top: 10px;
  font-size: 20px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  font-size: 25px;
}

.lessonsTime {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  font-size: large;
  margin-top: 20px;
  color: brown;
}

.button {
  display: flex;
  width: 100%;
  text-decoration: none;
}

.tagRating {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  margin-bottom: 10px;
}

.assignmentIcon {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .courseCard {
    width: fit-content;
    height: 920px;
    border-radius: 20px;
    position: relative;
  }
}
